@charset "utf-8";

/*********************************
6. Cart
*********************************/

.list_product {
    list-style: none !important;
    margin-bottom: 0px !important;
}

.cart_container
{
	padding-top: 93px;
	padding-bottom: 111px;
	background: #FFFFFF;
}
.cart_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
}
.cart_bar
{
	width: 100%;
	height: 57px;
	border: solid 1px #b5b5b5;
	margin-top: 64px;
}
.cart_bar_title_name,
.cart_bar_title_price,
.cart_bar_title_quantity,
.cart_bar_title_total
{
	font-size: 14px;
	font-weight: 600;
	color: #232323;
}
.cart_bar_title_name
{
	margin-left: 35px;
}
.cart_bar_title_content
{
	width: 532px;
}
.cart_bar_title_content_inner
{
	width: 100%;
}
.cart_bar_title_price
{
	width: 31%;
	text-align: center;
}
.cart_bar_title_quantity
{
	width: 37%;
	text-align: center;
}
.cart_bar_title_total
{
	width: 22%;
	text-align: center;
}
.cart_bar_title_button
{
	width: 10%;
	height: 100%;
}
.cart_product
{
	border-bottom: solid 1px #b5b5b5;
	padding-bottom: 35px;
	padding-top: 32px;
}
.cart_product_info
{
	width: 532px;
}
.cart_product_info_inner
{
	width: 100%;
}
.cart_product_name a,
.cart_product_price,
.cart_product_total
{
	font-size: 18px;
	font-weight: 600;
	color: #232323;
}
.cart_product_price
{
	width: 31%;
	text-align: center;
}
.product_quantity_container1
{
	width: 37%;
	text-align: center;
}
.cart_product_total
{
	width: 22%;
	text-align: center;
}
.cart_product_button
{
	width: 10%;
	text-align: center;
}
.cart_product_name
{
	margin-left: 35px;
}
.cart_product_name a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_product_name a:hover
{
	color: #937c6f;
}
.product_quantity
{
	display: inline-block;
	width: 122px;
	height: 41px;
	border: solid 1px #b5b5b5;
	overflow: hidden;
	padding-left: 11px;
	vertical-align: middle;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 41px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 7px;
	height: 100%;
	width: 29px;
}
.quantity_inc, 
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 16px;
	color: #232323;
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 0px;
	justify-content: flex-end;
}
.quantity_inc i
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.quantity_dec
{
	padding-top: 0px;
	justify-content: flex-start;
}
.quantity_dec i
{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.cart_product_remove
{
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.cart_product_remove img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cart_control_bar
{
	padding-top: 31px;
	padding-bottom: 33px;
	border-bottom: solid 1px #b5b5b5;
}
.cart_button
{
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: #FFFFFF;
	padding-left: 34px;
	padding-right: 34px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
	color: #232323;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_button_2
{
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: #937c6f;
	padding-left: 34px;
	padding-right: 34px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_button_2:hover
{
	background: #FFFFFF;
	color: #232323;
}
.cart_button:hover
{
	background: #937c6f;
	color: #FFFFFF;
	border: solid 1px #937c6f;
}
.button_clear
{
	margin-right: 8px;
}
.cart_extra
{
	padding-top: 54px;
}
.cart_coupon_form
{
	margin-top: 43px;
}
.cart_coupon_input
{
	width: 297px;
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 23px;
	margin-right: 11px;
}
.cart_coupon_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
} 
.cart_coupon_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_total
{
	width: 100%;
}
.cart_total ul
{
	width: 100%;
	margin-top: 43px;
	border: solid 1px #b5b5b5;
}
.cart_total ul li
{
	width: 100%;
	height: 56px;
	padding-left: 40px;
	padding-right: 32px;
	border-bottom: solid 1px #b5b5b5;
}
.cart_total ul li:last-child
{
	border-bottom: none;
}
.cart_total_button
{
	width: 100%;
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: #937c6f;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-top: 13px;
	font-size: 12px;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_total_button:hover
{
	background: #FFFFFF;
	color: #232323;
}

/*********************************
7. Options
*********************************/

.options
{
	padding-top: 60px;
	padding-bottom: 51px;
}
.options::after
{
	display: block;
	position: absolute;
	width: 200%;
	height: 48px;
	left: -50%;
	top: 100%;
	background: #FFFFFF;
	content: '';
}
.options_item
{
	background: #FFFFFF;
	height: 119px;
	width: 100%;
	padding-left: 27px;
	border: solid 1px #e0e3e4;
}
.option_image
{
	width: 54px;
	height: 54px;
}
.option_image img
{
	max-width: 100%;
}
.option_content
{
	margin-left: 18px;
}
.option_title
{
	font-size: 18px;
	font-weight: 600;
	color: #232323;
}
.option_subtitle
{
	font-size: 14px;
	color: #8a8a8a;
}