@charset "utf-8";

/*********************************
6. Products
*********************************/

.products
{
	padding-top: 94px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.current_page
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
}
.product_sorting
{
	width: 100%;
	margin-top: 42px;
}
.view
{
	float: left;
}
.view_box
{
	display: inline-block;
	width: 41px;
	height: 41px;
	text-align: center;
	cursor: pointer;
}
.box_view
{
	background: #937c6f;
}
.detail_view
{
	background: #232323;
	margin-left: -3px;
}
.view_box i
{
	color: #FFFFFF;
	line-height: 41px;
	font-size: 14px;
}
.sorting
{
	float: right;
}
.item_sorting
{
	display: inline-block;
}
.item_sorting > li
{
	display: inline-block;
	position: relative;
	width: 173px;
	height: 41px;
	line-height: 39px;
	cursor: pointer;
	border: solid 1px #b5b5b5;
	padding-left: 15px;
	padding-right: 17px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	margin-bottom: 10px;
}
.item_sorting > li:last-child
{
	margin-right: 0;
}
.num_sorting_text
{
	padding-right: 11px;
}
.item_sorting li i
{
	float: right;
	line-height: 39px;
	font-size: 16px;
	color: #232323;
}
.item_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.item_sorting li ul li
{
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.item_sorting li ul li span
{
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #131a2f;
	text-align: right;
	padding-right: 22px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting li ul li span:hover
{
	color: #b5aec4;
}
.item_sorting li ul li:last-child span
{
	border-bottom: none;
}
.item_sorting li span:nth-child(2)
{
	margin-left: 63px;
}

.product_grid
{
	width: calc(100% + 30px);
	margin-left: -15px;
}
.product
{
	width: calc(100% / 3);
	/*margin-right: 30px;*/
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.product:nth-child(3n)
{
	margin-right: 0px;
}
.product_image
{
	width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.product_image img
{
	width: 100%;
}
.product_content
{
	margin-top: 7px;
}
.product_info
{
	float: left;
}
.product_name a
{
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_name a:hover
{
	color: #937c6f;
}
.product_price
{
	font-size: 24px;
	font-weight: 600;
	color: #8a8a8a;
	margin-top: 0px;
}
.product_options
{
	float: right;
	transform: translateY(11px);
}
.product_option
{
	width: 37px;
	height: 37px;
	cursor: pointer;
}
.product_buy
{
	display: inline-block;
	background: #937c6f;
	vertical-align: middle;
	margin-right: 4px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_buy img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 23px;
	height: 23px;
}
.product_buy:hover
{
	background: #2f2f2f;
}
.product_fav
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
	background: #e0e3e4;
	line-height: 37px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	color: #FFFFFF;
	background: #232323;
}
.page_nums
{
	margin-top: 41px;
}
.page_nums li
{
	display: inline-block;
	margin-right: 7px;
}
.page_nums li:last-child
{
	margin-right: 0;
}
.page_nums li a
{
	font-size: 14px;
	font-weight: 600;
	color: #232323;
}
.page_nums li:hover a
{
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.page_nums li.active
{
	border-bottom: solid 3px #937c6f;
}
.page_nums li.active a
{
	color: #937c6f;
}

/*********************************
7. Sidebar Left
*********************************/

.sidebar_left
{
	position: absolute;
	top: 215px;
	left: -310px;
	width: 286px;
	padding-bottom: 98px;
}
.sidebar_section
{
	width: 100%;
	border: solid 1px #e0e3e4;
	margin-bottom: 44px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section:last-child
{
	margin-bottom: 0;
}
.sidebar_title
{
	height: 52px;
	background: #e0e3e4;
	line-height: 52px;
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
	padding-left: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section:hover
{
	border: solid 1px #937c6f;
}
.sidebar_section:hover .sidebar_title
{
	background: #937c6f;
	color: #FFFFFF;
}
.sidebar_section:hover .sidebar_section_content ul li
{
	border-bottom: solid 1px #937c6f;
}
.sidebar_section_content
{
	width: 100%;
}
.sidebar_section_content ul li
{
	height: 47px;
	padding-left: 16px;
	border-bottom: solid 1px #e0e3e4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section_content ul li:last-child
{
	border-bottom: none !important;
}
.sidebar_section_content ul li a
{
	font-size: 14px;
	color: #232323;
	line-height: 47px;
}
.sidebar_color_content
{
	width: 100%;
	height: 187px;
}
.sidebar_section_content ul li a span
{
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 15px;
}
/*Sidebar section scrollbar styling */
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical
{
	right: 0px;
	margin: 0;
}
.mCSB_scrollTools
{
	width: 4px;
    background: #e0e3e4;
}
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger
{
	background: #937c6f;
}
.mCSB_scrollTools .mCSB_dragger
{
	width: 3px;
	right: 0;
}
/* --- */
.filter_price
{
	width: 100%;
	padding-left: 16px;
	padding-right: 36px;
	padding-bottom: 25px;
	padding-top: 43px;
}
.slider_range
{
	width: 100%;
}
.filter_price p
{
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 0px;
}
.filter_price p input
{
	font-size: 14px;
	color: #232323;
	font-weight: 400 !important;
}
.clear_price_btn
{
	width: 117px;
	height: 37px;
	background: #937c6f;
	line-height: 37px;
	margin-top: 16px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.clear_price_btn:hover
{
	background: #e0e3e4;
	color: #232323;
}
.bestsellers_content
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 33px;
	padding-bottom: 33px;
}
.bestsellers_content ul li
{
	position: relative;
	height: 74px;
	border: none !important;
	margin-bottom: 29px;
	padding-left: 0;
	padding-right: 0;
}
.bestsellers_content ul li:last-child
{
	margin-bottom: 0;
}
.bestsellers_content:hover ul li
{
	border: none !important;
}
.best_image
{
	width: 74px;
	height: 74px;
	float: left;
}
.best_content
{
	padding-left: 93px;
	padding-top: 8px;
}
.best_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	line-height: 1.5 !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.best_title a:hover
{
	color: #937c6f;
}
.best_price
{
	font-size: 16px;
	font-weight: 600;
	color: #937c6f;
	margin-top: 9px;
}
.best_buy
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 23px;
	height: 23px;
	background: #937c6f;
	border: solid 1px #dfd8d5;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}
.sidebar_option
{
	height: 119px;
	width: 100%;
	padding-left: 30px;
	border-bottom: solid 1px #e0e3e4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_option:last-child
{
	border: none !important;
}
.sidebar_options:hover .sidebar_option
{
	border-bottom: solid 1px #937c6f;
}
.option_image
{
	width: 54px;
	height: 54px;
}
.option_image img
{
	max-width: 100%;
}
.option_content
{
	margin-left: 19px;
}
.option_title
{
	font-size: 18px;
	font-weight: 600;
	color: #232323;
}
.option_subtitle
{
	font-size: 14px;
	color: #8a8a8a;
}

/*********************************
8. Sidebar Right
*********************************/

.sidebar_right
{
	position: absolute;
	top: 308px;
	right: 38px;
	width: 285px;
}
.sidebar_promo_1
{
	width: 100%;
	height: 477px;
}
.sidebar_promo_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sidebar_promo_content
{
	width: 224px;
	background: rgba(35,35,35, 0.95);
	border: solid 2px #937c6f;
	padding-bottom: 53px;
	padding-top: 50px;
}
.sidebar_promo_title
{
	font-family: 'Beyond', sans-serif;
	font-size: 43px;
	color: #FFFFFF;
	line-height: 0.75;
}
.sidebar_promo_title span
{
	font-size: 11px;
}
.sidebar_promo_subtitle
{
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #937c6f;
	margin-top: 21px;
}
.sidebar_promo_button
{
	width: 85px;
	height: 28px;
	background: #937c6f;
	margin: 0 auto;
	margin-top: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_promo_button a
{
	display: block;
	font-size: 8px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_promo_button:hover
{
	background: #e0e3e4;
}
.sidebar_promo_button:hover a
{
	color: #232323;
}
.sidebar_promo_2
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1228px;
	padding-bottom: 32px;
	margin-top: 29px;
}