@charset "utf-8";

/*********************************
6. Map
*********************************/

.map
{
	width: 100%;
}
.google_map
{
	width: 100%;
	height: 531px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Contact
*********************************/

.contact
{
	width: 100%;
	background: #f9f5f5;
	padding-top: 99px;
	padding-bottom: 97px;
}
.review_form_container
{
	width: 100%;
}
.review_form_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: center;
}
.review_form_content
{
	margin-top: 99px;
	text-align: center;
}
.review_form
{
	width: 100%;
}
.review_form div
{
	width: 100%;
}
.review_form_input
{
	display: block;
	width: calc((100% - 60px) / 3);
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
}
.review_form_text
{
	width: 100%;
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
	margin-top: 27px;
	height: 234px;
	padding-top: 20px;
}
.review_form_input::-webkit-input-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input:-moz-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input::-moz-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
} 
.review_form_input:-ms-input-placeholder,
.review_form_text
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input::input-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_button
{
	width: 179px;
	height: 46px;
	border: none;
	outline: none;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_form_button:hover
{
	background: #e0e3e4;
	color: #232323;
}

/*********************************
8. Contact Text
*********************************/

.contact_text
{
	width: 100%;
	padding-top: 101px;
	padding-bottom: 99px;
	background: #FFFFFF;
}

/*********************************
8.1 Contact Info
*********************************/

.contact_info
{

}
.contact_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
}
.contact_info_content
{
	margin-top: 10px;
}
.contact_info_content ul li
{
	margin-bottom: 5px;
}
.contact_info_content ul li:last-child
{
	margin-bottom: 0;
}
.contact_info_icon
{
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
}
.contact_info_icon img
{
	width: 100%;
	height: auto;
}
.contact_info_text
{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #232323;
}
.contact_info_social
{
	margin-top: 73px;
}
.contact_info_social ul li
{
	display: inline-block;
	margin-right: 25px;
}
.contact_info_social ul li:last-child
{
	margin-right: 0;
}
.contact_info_social ul li a i
{
	font-size: 19px;
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_info_social ul li a i:hover
{
	color: #e0e3e4;
}