@charset "utf-8";

/*********************************
6.1 Current Page
*********************************/

.current_page
{
	
}
.current_page ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
}
.current_page ul li::after
{
	display: inline-block;
	content: '/';
	margin-left: 10px;
	margin-right: 6px;
}
.current_page ul li:last-child::after
{
	display: none;
}
.current_page ul li a
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.current_page ul li a:hover
{
	color: #937c6f;
}

/*********************************
6.2 Product Image
*********************************/

.product_row
{
	margin-top: 95px;
}
.product_image
{
	
}
.product_image_large
{
	width: 100%;
}
.product_image_large img
{
	max-width: 100%;
}
.product_image_thumbnails
{
	margin-top: 28px;
}
.product_image_thumbnail
{
	width: 166px;
	height: 166px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-right: 30px;
	cursor: pointer;
}
.product_image_thumbnail:last-child
{
	margin-right: 0;
}

/*********************************
6.3 Product Content
*********************************/

.product_name
{
	font-size: 30px;
	font-weight: 600;
	color: #232323;
	line-height: 0.75;
}
.product_price
{
	font-size: 24px;
	font-weight: 600;
	margin-top: 9px;
	color: #8a8a8a;
}
.in_stock_container
{
	margin-top: 27px;
}
.in_stock
{
	display: inline-block;
	position: relative;
	background: #e0e3e4;
	width: 15px;
	height: 15px;
}
.in_stock.in_stock_true::after
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: url(../images/checked.png);
}
.in_stock_container span
{
	font-size: 14px;
	color: #232323;
	margin-left: 7px;
}
.product_text
{
	margin-top: 56px;
}
.product_text p:last-of-type
{
	margin-bottom: 0;
}
.product_quantity_container
{
	margin-top: 43px;
}
.product_quantity_container span
{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
	vertical-align: middle;
}
.product_quantity
{
	display: inline-block;
	width: 122px;
	height: 41px;
	border: solid 1px #b5b5b5;
	overflow: hidden;
	padding-left: 11px;
	vertical-align: middle;
	margin-left: 14px;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 41px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 7px;
	height: 100%;
	width: 29px;
}
.quantity_inc, 
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 16px;
	color: #232323;
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 0px;
	justify-content: flex-end;
}
.quantity_inc i
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.quantity_dec
{
	padding-top: 0px;
	justify-content: flex-start;
}
.quantity_dec i
{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.product_size_container
{
	margin-top: 54px;
}
.product_size
{
	display: inline-block;
	vertical-align: middle;
}
.product_size_container span
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
}
.regular_radio
{
	display: none;
}
.regular_radio:checked + label
{
	background: #937c6f;
	color: #FFFFFF;
}
.regular_radio + label
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 48px;
	height: 41px;
	background: #FFFFFF;
	border: solid 1px #b5b5b5;
	cursor: pointer;
	margin-right: 8px;
}
.cart_button
{
	margin-top: 55px;
}

/*********************************
7. Reviews
*********************************/

.reviews
{
	width: 100%;
	margin-top: 99px;
}
.reviews_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
}
.reviews_container
{
	margin-top: 99px;
}
.review
{
	margin-bottom: 62px;
}
.reviews_container ul li:last-child
{
	margin-bottom: 0;
}
.review_image
{
	width: 92px;
	height: 92px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}
.review_image img
{
	max-width: 100%;
}
.review_content
{
	padding-left: 139px;
}
.review_name a
{
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_name a:hover
{
	color: #937c6f;
}
.review_date
{
	font-size: 12px;
	color: #937c6f;
	margin-top: 3px;
}
.review_rating
{
	margin-top: 14px;
}
.review_text
{
	margin-top: 28px;
}
.review_text p
{
	color: #777777;
	line-height: 2.14;
}
.review_text p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
8. Review Form
*********************************/

.review_form_container
{
	width: 100%;
	margin-top: 99px;
}
.review_form_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #232323;
	text-transform: uppercase;
	line-height: 0.75;
}
.review_form_content
{
	margin-top: 99px;
}
.review_form
{
	width: 100%;
}
.review_form div
{
	width: 100%;
}
.review_form_input
{
	display: block;
	width: calc((100% - 60px) / 3);
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
}
.review_form_text
{
	width: 100%;
	height: 53px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 22px;
	margin-top: 27px;
	height: 234px;
	padding-top: 20px;
}
.review_form_input::-webkit-input-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input:-moz-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input::-moz-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
} 
.review_form_input:-ms-input-placeholder,
.review_form_text
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_input::input-placeholder,
.review_form_text
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #8c8c8c !important;
}
.review_form_button
{
	width: 179px;
	height: 46px;
	border: none;
	outline: none;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_form_button:hover
{
	background: #e0e3e4;
	color: #232323;
}